@using Microsoft.AspNetCore.Identity;
@using StatusTracker.Services;
@using StatusTracker.Models.ViewModels;

@inject UserManager<STUser> UserManager
@inject ISTAccessService AccessService
@inject ISTRolesService RolesService

@model StatusTracker.Models.ViewModels.MyTopTicketsViewModel

<div class="container-fluid">
    <br />

</div>
<!------------------>
<!-- Pie Chart #2 -->
<!------------------>
<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-primary">Ticket Status</h4>
                <br />
                <br />
                <div id="mythirdchart"></div>
            </div>
        </div>
    </div>
    <!------------------>
    <!-- Pie Chart #1 -->
    <!------------------>
    <div class="col-3">
        <div class="card text-center">
            <div class="card-body">
                <h4 class="card-title text-primary">Ticket Types</h4>
                <br />
                <br />
                <div id="mysecondchart"></div>
            </div>
        </div>
    </div>
    <!--------------->
    <!-- Bar Chart -->
    <!--------------->
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-primary">Ticket Priorities</h4>
            </div>
            <div class="body">
                <div id="myfirstchart" class="chartist"></div>
            </div>
        </div>
    </div>

</div>

<!------------------------->
<!-- Line Schedule Chart -->
<!------------------------->
<div class="row">
    <div class="col-10">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-primary">Project Work Schedule</h4>
            </div>
            <div class="body" style="height: 410px">
                <div id="workSchedule" class="ct-chart"></div>
            </div>
        </div>
    </div>
    <!---------------------------->
    <!-- Completed Apps Buttons -->
    <!---------------------------->
    <div class="col-2">
        <div class="card text-center">
            <br />
            <h4 class="card-title text-primary">Completed Apps</h4>
            <div class="card">
                <div class="body bg-light">
                    <a class="btn btn-info" data-toggle="modal" data-target="#myModal1"><i class="icon-magnifier"></i> Status Tracker</a>
                </div>
            </div>
            <div class="card">
                <div class="body bg-light">
                    <a class="btn btn-danger" data-toggle="modal" data-target="#myModal2"><i class="icon-pencil"></i> Dragon Blog</a>
                </div>
            </div>
            <div class="card">
                <div class="body bg-light">
                    <a class="btn btn-warning" data-toggle="modal" data-target="#myModal3"><i class="icon-notebook"></i> Address Book</a>
                </div>
            </div>
            <div class="card">
                <div class="body bg-light">
                    <a class="btn btn-success" data-toggle="modal" data-target="#myModal4"><i class="icon-bar-chart"></i> Money Tracker</a>
                </div>
            </div>
            <br />
        </div>
    </div>

</div>

<!--------------------------->
<!-- Completed Apps Modals -->
<!--------------------------->

<div class="row clearfix">

    <!-------------------->
    <!-- Status Tracker -->
    <!-------------------->
    <div class="modal" id="myModal1">
        <div class="modal-dialog-centered modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header justify-content-center bg-info">
                    <h3 class="modal-title text-white">Status Tracker</h3>
                </div>
                <div class="modal-body bg-light justify-content-center">
                    <div class="card-deck">
                        <div class="card bg-light">
                            <div class="card-body">
                                <h4 class="card-title text-info">Development Time</h4>
                                <ul>
                                    <li><h6>180-hours</h6></li>
                                    <li><h6>Link: https://oj-statustracker.herokuapp.com </h6></li>
                                </ul>
                                <div class="icon">
                                    <img src="~/assets/Images/avatar2.jpg" class="rounded-circle" alt="">
                                </div>
                                <div class="content m-t-5">
                                    <div>Team Lead</div>
                                    <h6>Beth Olmo</h6>
                                </div>
                            </div>
                        </div>
                        <div class="card bg-light">
                            <div class="card-body">
                                <h4 class="card-title text-info">Technologies Used</h4>
                                <ul>
                                    <li><h6>C#, HTML, CSS, JS, Bootstrap</h6></li>
                                    <li><h6>ASP.Net Core, MVC, Docker, Heroku, PostgreSQL, pgAdmin</h6></li>
                                    <li><h6>Visual Studio 2019, MS SQL, GitHub, Netlify, Canva</h6></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bg-light">
                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!------------------>
    <!--  Dragon Blog -->
    <!------------------>
    <div class="modal" id="myModal2">
        <div class="modal-dialog-centered modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header justify-content-center bg-danger">
                    <h4 class="modal-title text-white">Dragon Blog</h4>
                </div>
                <div class="modal-body bg-light justify-content-center">
                    <div class="card-deck">
                        <div class="card bg-light">
                            <div class="card-body">
                                <h4 class="card-title text-danger">Development Time</h4>
                                <ul>
                                    <li><h6>80-hours</h6></li>
                                    <li><h6>Link: https://dragonblog2.herokuapp.com </h6></li>
                                </ul>
                                <div class="icon">
                                    <img src="~/assets/Images/avatar3.jpg" class="rounded-circle" alt="">
                                </div>
                                <div class="content m-t-5">
                                    <div>Team Lead</div>
                                    <h6>Cindy Kane</h6>
                                </div>
                            </div>
                        </div>
                        <div class="card bg-light">
                            <div class="card-body">
                                <h4 class="card-title text-danger">Technologies Used</h4>
                                <ul>
                                    <li><h6>C#, HTML, CSS, JS, Bootstrap</h6></li>
                                    <li><h6>ASP.Net Core, MVC, Docker, Heroku, PostgreSQL, pgAdmin</h6></li>
                                    <li><h6>Visual Studio 2019, MS SQL, GitHub, Netlify, Canva</h6></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bg-light">
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!--------------------->
    <!--  Address Book   -->
    <!--------------------->
    <div class="modal" id="myModal3">
        <div class="modal-dialog-centered modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header justify-content-center bg-warning">
                    <h4 class="modal-title text-white">Address Book App</h4>
                </div>
                <div class="modal-body bg-light justify-content-center">
                    <div class="card-deck">
                        <div class="card bg-light">
                            <div class="card-body">
                                <h4 class="card-title text-warning">Development Time</h4>
                                <ul>
                                    <li><h6>40-hours</h6></li>
                                    <li><h6>Link: https://oj-addressbook.herokuapp.com </h6></li>
                                </ul>
                                <div class="icon">
                                    <img src="~/assets/Images/avatar7.jpg" class="rounded-circle" alt="">
                                </div>
                                <div class="content m-t-5">
                                    <div>Team Lead</div>
                                    <h6>Tere Olmo</h6>
                                </div>
                            </div>
                        </div>
                        <div class="card bg-light">
                            <div class="card-body">
                                <h4 class="card-title text-warning">Technologies Used</h4>
                                <ul>
                                    <li><h6>C#, HTML, CSS, JS, Bootstrap</h6></li>
                                    <li><h6>ASP.Net Core, MVC, Docker, Heroku, PostgreSQL, pgAdmin</h6></li>
                                    <li><h6>Visual Studio 2019, MS SQL, GitHub, Netlify, Canva</h6></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bg-light">
                    <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-------------------->
    <!-- Money Tracker --->
    <!-------------------->
    <div class="modal" id="myModal4">
        <div class="modal-dialog-centered modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header justify-content-center bg-success">
                    <h3 class="modal-title text-white">Money Tracker</h3>
                </div>
                <div class="modal-body bg-light justify-content-center">
                    <div class="card-deck">
                        <div class="card bg-light">
                            <div class="card-body">
                                <h4 class="card-title text-success">Development Time</h4>
                                <ul>
                                    <li><h6>100-hours</h6></li>
                                    <li><h6>Link: https://oj-moneytracker.herokuapp.com </h6></li>
                                </ul>
                                <div class="icon">
                                    <img src="~/assets/Images/avatar9.jpg" class="rounded-circle" alt="">
                                </div>
                                <div class="content m-t-5">
                                    <div>Team Lead</div>
                                    <h6>OJ Olmo</h6>
                                </div>
                            </div>
                        </div>
                        <div class="card bg-light">
                            <div class="card-body">
                                <h4 class="card-title text-success">Technologies Used</h4>
                                <ul>
                                    <li><h6>C#, HTML, CSS, JS, Bootstrap</h6></li>
                                    <li><h6>ASP.Net Core, MVC, Docker, Heroku, PostgreSQL, pgAdmin</h6></li>
                                    <li><h6>Visual Studio 2019, MS SQL, GitHub, Netlify, Canva</h6></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bg-light">
                    <button type="button" class="btn btn-outline-success" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div> 

</div>

    @section Scripts{

        <script>
        //Construct the URL needed to draw the chart.
        var Url1 = '@Url.Action("PriorityChart", "Charts")';
        var data = {
            labels: [],
            series: []
        };
        $.post(Url1).then(function (response) {
            console.log(response);
            response.forEach(el => {
                console.log(el);
                data.labels.push(el.name);
                data.series.push(el.count);
            });
            console.log(data);

            new Chartist.Bar('#myfirstchart', data, {
                height: "230px",
                distributeSeries: true
            });

        });

        //Second Chart - Pie - T-Types
        var Url2 = '@Url.Action("TypeChart", "Charts")';
        var piedata = {
            labels: [],
            series: []
        };
        $.post(Url2).then(function (response) {
            console.log(response);
            response.forEach(el => {
              //  console.log(el);
                piedata.labels.push(el.name);
                piedata.series.push(el.count);
            });
                //  console.log(data);
            new Chartist.Pie('#mysecondchart', piedata, {
                height: "230px",
                chartPadding: 30,
                labelOffset: 50,
                labelDirection: 'explode',
                plugins: [Chartist.plugins.tooltip()]

            });

        });

      //Third Chart - Pie - S-Types
        var Url3 = '@Url.Action("StatusChart", "Charts")';
        var statusdata = {
            labels: [],
            series: []
        };
        $.post(Url3).then(function (response) {
            console.log(response);
            response.forEach(el => {
              //  console.log(el);
                statusdata.labels.push(el.name);
                statusdata.series.push(el.count);
            });
          //  console.log(data);
            new Chartist.Pie('#mythirdchart', statusdata, {
                height: "230px",
                chartPadding: 30,
                labelOffset: 50,
                labelDirection: 'explode',
                plugins: [Chartist.plugins.tooltip()]

            });

        });

        </script>

    }



