@using Microsoft.AspNetCore.Identity
@using StatusTracker.Services

@inject UserManager<STUser> UserManager
@inject ISTAccessService AccessService
@inject ISTRolesService RolesService


<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-12">
                <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a>Nav Panel</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item active">Home Dashboard</li>
                </ul>
            </div>
        </div>
    </div>

</div>
<!------------------>
<!-- Pie Chart #2 -->
<!------------------>
<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-primary">Ticket Status</h4>
                <br />
                <br />
                <div id="mythirdchart"></div>
            </div>
        </div>
    </div>
    <!------------------>
    <!-- Pie Chart #1 -->
    <!------------------>
    <div class="col-3">
        <div class="card text-center">
            <div class="card-body">
                <h4 class="card-title text-primary">Ticket Types</h4>
                <br />
                <br />
                <div id="mysecondchart"></div>
            </div>
        </div>
    </div>
    <!--------------->
    <!-- Bar Chart -->
    <!--------------->
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-primary">Ticket Priorities</h4>
            </div>
            <div class="body">
                <div id="myfirstchart" class="chartist"></div>
            </div>
        </div>
    </div>

</div>



<!---------------->
<!-- Line Chart -->
<!---------------->
<div class="row">
    <div class="col-10">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-primary">Project Work Schedule</h4>
            </div>
            <div class="body" style="height: 400px">
                <div id="workSchedule" class="ct-chart"></div>
            </div>
        </div>
    </div>

    <!----------------->
    <!-- Donot Chart -->
    <!----------------->
    <div class="col-2">
        <div class="card justify-content-center">
            <div class="card-body">
                <h4 class="card-title text-primary">Staff</h4>
                <div>
                    <br />
                    <h6 class="justify-content-center">Local</h6>
                    <input type="text" class="knob2" data-linecap="round" value="67" data-width="125" data-height="125" data-thickness="0.15" data-fgColor="#49a9e5" readonly>
                    <hr>
                    <br>
                    <h6 class="justify-content-center">Remote</h6>
                    <input type="text" class="knob2" data-linecap="round" value="33" data-width="125" data-height="125" data-thickness="0.15" data-fgColor="#b880e1" readonly>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{

    <script>
        //Construct the URL needed to draw the chart.
        var Url1 = '@Url.Action("PriorityChart", "Charts")';
        var data = {
            labels: [],
            series: []
        };
        $.post(Url1).then(function (response) {
            console.log(response);
            response.forEach(el => {
                console.log(el);
                data.labels.push(el.name);
                data.series.push(el.count);
            });
            console.log(data);

            new Chartist.Bar('#myfirstchart', data, {
                height: "230px",
                distributeSeries: true
            });

        });

        //Second Chart - Pie - T-Types
        var Url2 = '@Url.Action("TypeChart", "Charts")';
        var piedata = {
            labels: [],
            series: []
        };
        $.post(Url2).then(function (response) {
            console.log(response);
            response.forEach(el => {
              //  console.log(el);
                piedata.labels.push(el.name);
                piedata.series.push(el.count);
            });
                //  console.log(data);
            new Chartist.Pie('#mysecondchart', piedata, {
                height: "230px",
                chartPadding: 30,
                labelOffset: 50,
                labelDirection: 'explode',
                plugins: [Chartist.plugins.tooltip()]

            });

        });

      //Third Chart - Pie - S-Types
        var Url3 = '@Url.Action("StatusChart", "Charts")';
        var statusdata = {
            labels: [],
            series: []
        };
        $.post(Url3).then(function (response) {
            console.log(response);
            response.forEach(el => {
              //  console.log(el);
                statusdata.labels.push(el.name);
                statusdata.series.push(el.count);
            });
          //  console.log(data);
            new Chartist.Pie('#mythirdchart', statusdata, {
                height: "230px",
                chartPadding: 30,
                labelOffset: 50,
                labelDirection: 'explode',
                plugins: [Chartist.plugins.tooltip()]

            });

        });

    </script>

}



