@model StatusTracker.Models.TicketType

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<hr />

<div class="row">
    <div class="col-9">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-primary">Ticket Type</h4>
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @if (User.IsInRole("Admin, ProjectManager, Developer, Submitter"))
                        {
                            <input type="submit" value="Create" class="btn btn-outline-primary" />
                        }

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a class="btn btn-outline-info" asp-controller="TicketTypes" asp-action="Index">Back to List</a>
    <a class="btn btn-outline-info" asp-controller="Home" asp-action="Index">Back to Dashboard 1</a>
</div>

@if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
{
    <a class="btn btn-outline-info" asp-controller="Home" asp-action="Dashboard">Back to Dashboard 2</a>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
